<% include ./include/head %>
<body>
  <% include ./include/nav %>
  <main>
    <div class="section white">
      <div class="row container flow-text">
        <h2 class="header">Games</h2>
        <p>Choose a game you would like to play</p>
      </div>
    </div>

    <a href="quizGame">
      <div class="parallax-container hoverable">
        <div class="parallax"><img src="static/images/piano.jpg" alt="Piano keys"></div>
        <div class="section">
          <div class="row container flow-text white-text">
            <h2 class="header">Quiz</h2>
            <p>A quiz of 10 questions for each topic</p>
          </div>
        </div>
      </div>
    </a>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
