<% include ./include/head %>
<link type="text/css" rel="stylesheet" href="static/css/vextab.css"  media="screen,projection"/>
<body>
  <% include ./include/nav %>
  <main class="light-blue lighten-4">
    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Note Values</h2>
        <p>Understanding different note values (Click each heading for a description)</p>
      </div>

    </div>

      <div class="col s12">
        <ul class="tabs tabs-fixed-width z-depth-1">
          <li class="tab"><a class="active"  href="#semibreve">Semibreve</a></li>
          <li class="tab"><a href="#minim">Minim</a></li>
          <li class="tab"><a href="#crotchet">Crotchet</a></li>
          <li class="tab"><a href="#quaver">Quaver</a></li>
          <li class="tab"><a href="#semiquaver">Semiquaver</a></li>
        </ul>
      </div>

    <% include ./include/grade1/notevaluescontent %>
  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
