<% include ./include/head %>
<% include ./include/musicnotation %>
<body>
  <% include ./include/nav %>
  <main class="light-blue lighten-4">
    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Terms</h2>
        <p>Understanding basic musical terms (Click each heading for a description)</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#tempo">Tempo</a></li>
        <li class="tab"><a href="#dynamics">Dynamics</a></li>
        <li class="tab"><a href="#expressions">Expressions</a></li>
        <li class="tab"><a href="#artMarks">Articulation Marks</a></li>
      </ul>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div id="tempo" class="col s12">
          <div class="row">
            <h3>Tempo</h3>
            <p>Tempo markings show how fast or slow music should be played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Accelerando</div>
                <div class="collapsible-body"><span>Gradually getting quicker, can be written as <span class="dynamicFont"><b><i>accel.</i></b></span></span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Adagio</div>
                <div class="collapsible-body"><span>Slow</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Allegretto</div>
                <div class="collapsible-body"><span>Fairly quick</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Allegro</div>
                <div class="collapsible-body"><span>Quick</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Andante</div>
                <div class="collapsible-body"><span>Medium speed</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Lento</div>
                <div class="collapsible-body"><span>Slow</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Rallentando</div>
                <div class="collapsible-body"><span>Gradually getting slower, can be written as <span class="dynamicFont"><b><i>rall.</i></b></span></span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Ritardando</div>
                <div class="collapsible-body">
                  <span>Gradually getting slower (similar to Rallentando)<p>Can be written as either <span class="dynamicFont"><b><i>ritard.</i></b></span> or <span class="dynamicFont"><b><i>rit.</i></b></span></p></span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Ritenuto</div>
                <div class="collapsible-body"><span>Immediately slower<p>Can be written as either <span class="dynamicFont"><b><i>riten.</i></b></span> or <span class="dynamicFont"><b><i>rit.</i></b></span></p></span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Tempo</div>
                <div class="collapsible-body"><span>Speed/Time</span></div>
              </li>
            </ul>
          </div>
        </div>

        <div id="dynamics" class="col s12">
          <div class="row">
            <h3>Dynamics</h3>
            <p>Dynamics show how quiet or loud music should be played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Piano</div>
                <div class="collapsible-body">
                  <span>
                    Quiet
                    <p>Written as <span class="dynamicFont"><b><i>p</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Pianissimo</div>
                <div class="collapsible-body">
                  <span>
                    Very Quiet
                    <p>Written as <span class="dynamicFont"><b><i>pp</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Mezzo Piano</div>
                <div class="collapsible-body">
                  <span>
                    Moderately Quiet
                    <p>Written as <span class="dynamicFont"><b><i>mp</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Forte</div>
                <div class="collapsible-body">
                  <span>
                    Loud
                    <p>Written as <span class="dynamicFont"><b><i>f</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Fortissimo</div>
                <div class="collapsible-body">
                  <span>
                    Very Loud
                    <p>Written as <span class="dynamicFont"><b><i>ff</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Mezzo Forte</div>
                <div class="collapsible-body">
                  <span>
                    Moderately Loud
                    <p>Written as <span class="dynamicFont"><b><i>mf</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Crescendo</div>
                <div class="collapsible-body">
                  <span>
                    Gradually getting louder
                    <p>Shown as &gt stretched across all notes getting louder </p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Diminuendo / Decrescendo</div>
                <div class="collapsible-body">
                  <span>
                    Gradually getting quieter
                    <p>Shown as &lt stretched across all notes getting quieter </p>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="expressions" class="col s12">
          <div class="row">
            <h3>Expressions</h3>
            <p>Expressions are descriptive terms about the music being played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Cantabile</div>
                <div class="collapsible-body"><span> In a singing style</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Da Capo</div>
                <div class="collapsible-body">
                  <span>
                     Repeat from the beginning
                     <p>Can be written as <span class="dynamicFont"><b><i>D.C</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Dal Segno</div>
                <div class="collapsible-body">
                  <span>
                     Repeat from the sign
                     <p>Can be written as <span class="dynamicFont"><b><i>D.S</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Fine</div>
                <div class="collapsible-body"><span>The end</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Legato</div>
                <div class="collapsible-body"><span>Smoothly</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Moderato</div>
                <div class="collapsible-body"><span>Moderately</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Poco</div>
                <div class="collapsible-body"><span>A little</span></div>
              </li>
            </ul>
          </div>
        </div>

        <div id="artMarks" class="col s12">
          <div class="row">
            <h3>Articulation Marks</h3>
            <p>Articulation Marks decorate notes and change how they're played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Accent</div>
                <div class="collapsible-body">
                  <span>
                    Emphasise the note
                    <p>Shown with a &gt above or below the note head</p>
                    <div class="row stave">
                      <div class="col s12 vex-tabdiv" width=250 scale=1.3>
                        stave
                        notes C/4 $.a&gt/bottom.$
                        notes C/5 $.a&gt/top.$
                      </div>
                    </div>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Staccato</div>
                <div class="collapsible-body">
                  <span>
                    Detached
                    <p>Shown with a dot above or below the note head</p>
                    <div class="row stave">
                      <div class="col s12 vex-tabdiv" width=250 scale=1.3>
                        stave
                        notes C/4 $.a./bottom.$
                        notes C/5 $.a./top.$
                      </div>
                    </div>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>8va</div>
                <div class="collapsible-body"><span>Octave Above</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>8vb</div>
                <div class="collapsible-body"><span>Octave Below</span></div>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
