<% include ./include/head %>
<body>
  <% include ./include/nav %>
  <main>
    <div class="row">
      <div class="col s2 offset-s1">
        <div class="card small">
          <div class="card-content black-text">
            <span class="card-title">Note Values</span>
            <p>The note values</p>
            </div>
            <div class="card-action">
              <a href="grade1notevalues">Note Values</a>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card small">
            <div class="card-content black-text">
              <span class="card-title">Time Signatures</span>
              <p>Simple time signatures</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card small">
            <div class="card-content black-text">
              <span class="card-title">The Stave</span>
              <p>Using the stave</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card small">
            <div class="card-content black-text">
              <span class="card-title">Scales</span>
              <p>Simple scales</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card small">
            <div class="card-content black-text">
              <span class="card-title">Terms</span>
              <p>Key Terms</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
