<% include ./include/head %>
<% include ./include/musicnotation %>
<body>
  <% include ./include/nav %>
  <main class="light-blue lighten-4">
    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Note Values</h2>
        <p>Understanding the standard note values (Click each heading for a description)</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#semibreve">Semibreve</a></li>
        <li class="tab"><a href="#minim">Minim</a></li>
        <li class="tab"><a href="#crotchet">Crotchet</a></li>
        <li class="tab"><a href="#quaver">Quaver</a></li>
        <li class="tab"><a href="#semiquaver">Semiquaver</a></li>
      </ul>
    </div>

    <div class="row container flow-text">
      <div class="col offset-s2">

        <div id="semibreve" class="col s12">
          <div class="col s10">
            <h3>Semibreve: Whole Note</h3>
            <p>A Semibreve (also known as a whole note) lasts for 4 beats. It is drawn using a hollow oval shape on the stave.</p>
            <p>Below shows an example of a semibreve with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :1 (F/4)
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="minim" class="col s12">
          <div class="col s9">
            <h3>Minim: Half Note</h3>
            <p>A Minim (also known as a half note) lasts for 2 beats. It is drawn using a hollow oval shape with a stem on the stave.</p>
            <p>Below shows an example of minims with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :2 F-F/4
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="crotchet" class="col s12">
          <div class="col s10">
            <h3>Crotchet: Quater Note</h3>
            <p>A Crotchect (also known as a quater note) lasts for 1 beat. It is drawn using a filled oval shape with a stem on the stave.</p>
            <p>Below shows an example of crotchets with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :4 F-F-F-F/4
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="quaver" class="col s12">
          <div class="col s9">
            <h3>Quaver: Eighth Note</h3>
            <p>A Quaver (also known as an eighth note) lasts for 1/2 of a beat. It is drawn using a filled oval shape with a curved stem on the stave.</p>
            <p>Below shows an example of quavers with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :8 F-F-F-F-F-F-F-F/4
              text :8, .2, 1, &, 2, &, 3, &, 4, &
            </div>
          </div>
        </div>

        <div id="semiquaver" class="col s12">
          <div class="col s10">
            <h3>Semiquaver: Sixteenth Note</h3>
            <p> A Semiquaver (also known as a sixteenth note) lasts for 1/4 of a beat. It is drawn using a filled oval shape with a double curved stem on the stave.</p>
            <p>Below shows an example of semiquavers with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :16 F-F-F-F-F-F-F-F-F-F-F-F-F-F-F-F/4
              text :16, .2 , 1, e, &, a, 2, e, &, a, 3, e, &, a, 4, e, &, a
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Rests</h2>
        <p>A rest is a pause in the music where nothing is being played</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#semibreveR">Semibreve</a></li>
        <li class="tab"><a href="#minimR">Minim</a></li>
        <li class="tab"><a href="#crotchetR">Crotchet</a></li>
        <li class="tab"><a href="#quaverR">Quaver</a></li>
        <li class="tab"><a href="#semiquaverR">Semiquaver</a></li>
      </ul>
    </div>

    <div class="row container flow-text">
      <div class="col offset-s2">

        <div id="semibreveR" class="col s12">
          <div class="col s10">
            <h3>Semibreve Rest: Whole Rest</h3>
            <p>A Semibreve Rest (also known as a whole rest) lasts for 4 beats.</p>
            <p>Below shows an example of a semibreve rest with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :1 ##
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="minimR" class="col s12">
          <div class="col s10">
            <h3>Minim Rest: Half Rest</h3>
            <p>A Minim Rest (also known as a half rest) lasts for 2 beats.</p>
            <p>Below shows an example of minim rests with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :2 ## ##
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="crotchetR" class="col s12">
          <div class="col s10">
            <h3>Crotchet Rest: Quater Rest</h3>
            <p>A Crotchect Rest (also known as a quater rest) lasts for 1 beat.</p>
            <p>Below shows an example of crotchet rests with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :4 ## ## ## ##
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="quaverR" class="col s12">
          <div class="col s10">
            <h3>Quaver Rest: Eighth Rest</h3>
            <p>A Quaver Rest (also known as an eighth rest) lasts for 1/2 of a beat.</p>
            <p>Below shows an example of quaver rests with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :8 ## ## ## ## ## ## ## ##
              text :8, .2, 1, &, 2, &, 3, &, 4, &
            </div>
          </div>
        </div>

        <div id="semiquaverR" class="col s12">
          <div class="col s10">
            <h3>Semiquaver Rest: Sixteenth Rest</h3>
            <p> A Semiquaver Rest (also known as a sixteenth rest) lasts for 1/4 of a beat.</p>
            <p>Below shows an example of semiquaver rests with the beats printed above the bar.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :16 ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ##
              text :16, .2 , 1, e, &, a, 2, e, &, a, 3, e, &, a, 4, e, &, a
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Ties and Dotted Notes</h2>
        <p>Understanding tied notes, dotted notes</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#tied">Tied Notes</a></li>
        <li class="tab"><a href="#dotted">Dotted Notes</a></li>
        <li class="tab"><a href="#dottedR">Dotted Rests</a></li>
      </ul>
    </div>

    <div class="row container flow-text">
      <div class="col offset-s2">

        <div id="tied" class="col s12">
          <div class="col s10">
            <h3>Tied Notes</h3>
            <p>A tied note is when two notes combine using a curved line. They are played once and their values are added.</p>
            <p>The example below sees a crothet tied with another crotchet. This means that both their values are added and one note will be played for 2 beats</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :4 A/4 T A/4 :2 ##
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="dotted" class="col s12">
          <div class="col s10">
            <h3>Dotted Notes</h3>
            <p>A dotted note is a note with a dot to its right. They add half its value to itself.</p>
            <p>The example below shows a dotted minim. Its played for the length of a minim plus 1 beat, which is 3 beats in total.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :2d A/4 :4 ##
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

        <div id="dottedR" class="col s12">
          <div class="col s10">
            <h3>Dotted Rests</h3>
            <p>A dotted rest is a rest with a dot to its right. They add half its value to itself.</p>
            <p>The example below shows a dotted minim rest. Its played for the length of a minim plus 1 beat, which is 3 beats in total.</p>
          </div>
          <div class="row stave">
            <div class="col s12 vex-tabdiv" width=500 scale=1.3>
              stave time = 4/4
              notes :2d ## :4 ##
              text :4, .2, 1, 2, 3, 4
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
