<% include ./include/head %>
<% include ./include/musicnotation %>
<body>
  <% include ./include/nav %>
  <main class="light-blue lighten-4">
    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Terms</h2>
        <p>Understanding more musical terms (Click each heading for a description)</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#tempo">Tempo</a></li>
        <li class="tab"><a href="#dynamics">Dynamics</a></li>
        <li class="tab"><a href="#expressions">Expressions</a></li>
        <li class="tab"><a href="#artMarks">Articulation Marks</a></li>
      </ul>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div id="tempo" class="col s12">
          <div class="row">
            <h3>Tempo</h3>
            <p>Tempo markings show how fast or slow music should be played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Andantino</div>
                <div class="collapsible-body"><span>Medium Speed (Slightly faster than Adante)</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Grave</div>
                <div class="collapsible-body"><span>Very Slow, Solemn</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Larghetto</div>
                <div class="collapsible-body"><span>Rather slow (not as slow as largo)</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Largo</div>
                <div class="collapsible-body"><span>Slow</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Presto</div>
                <div class="collapsible-body"><span>Fast (Faster than Allegro)</span></div>
              </li>
            </ul>
          </div>
        </div>

        <div id="dynamics" class="col s12">
          <div class="row">
            <h3>Dynamics</h3>
            <p>Dynamics show how quiet or loud music should be played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Fortepiano</div>
                <div class="collapsible-body">
                  <span>
                    Loud then immediately quiet
                    <p>Written as <span class="dynamicFont"><b><i>fp</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Sforzando / Sforzato</div>
                <div class="collapsible-body">
                  <span>
                    Loud accented note
                    <p>Can be written as <span class="dynamicFont"><b><i>sf</i></b></span> or <span class="dynamicFont"><b><i>sfz</i></b></span></p>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="expressions" class="col s12">
          <div class="row">
            <h3>Expressions</h3>
            <p>Expressions are descriptive terms about the music being played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>A</div>
                <div class="collapsible-body"><span>To / At / In / By / For (used in conjunction with other expressions)</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Alla</div>
                <div class="collapsible-body">
                  <span>
                    To the / At the / In the manner of
                    <p>Can be written as <span class="dynamicFont"><b><i>all'</i></b></span> or <span class="dynamicFont"><b><i>al</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Allargando</div>
                <div class="collapsible-body"><span>Broadening</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Assai</div>
                <div class="collapsible-body"><span>Very</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Con / Col</div>
                <div class="collapsible-body"><span>With</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Dolce</div>
                <div class="collapsible-body"><span>Sweet / Soft</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>E / Ed</div>
                <div class="collapsible-body"><span>And</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Espressivo</div>
                <div class="collapsible-body">
                  <span>
                    Expressive
                    <p>Can be written as <span class="dynamicFont"><b><i>espress.</i></b></span> or <span class="dynamicFont"><b><i>espr.</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Giocoso</div>
                <div class="collapsible-body"><span>Playful / Merry / Humourous</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Grazioso</div>
                <div class="collapsible-body"><span>Graceful</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Ma</div>
                <div class="collapsible-body"><span>But</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Maestoso</div>
                <div class="collapsible-body"><span>Majestic</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Meno</div>
                <div class="collapsible-body"><span>Less</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Molto</div>
                <div class="collapsible-body"><span>Very / Much</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Mosso / Moto</div>
                <div class="collapsible-body"><span>Movement</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Senza</div>
                <div class="collapsible-body"><span>Without</span></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Simile</div>
                <div class="collapsible-body">
                  <span>
                    In the same way
                    <p>Can be written as <span class="dynamicFont"><b><i>sim.</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Troppo</div>
                <div class="collapsible-body"><span>Too much</span></div>
              </li>
            </ul>
          </div>
        </div>

        <div id="artMarks" class="col s12">
          <div class="row">
            <h3>Articulation Marks</h3>
            <p>Articulation Marks decorate notes and change how they're played</p>
            <p>Click the boxes below to learn about each term</p>
          </div>
          <div class="row">
            <ul class="collapsible expandable white">
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Sostenuto</div>
                <div class="collapsible-body">
                  <span>
                    Sustained
                    <p>Can be written as <span class="dynamicFont"><b><i>S.P.</i></b></span> or <span class="dynamicFont"><b><i>Sost. Ped.</i></b></span></p>
                  </span>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i>Tenuto</div>
                <div class="collapsible-body">
                  <span>
                    Sustained for the full note value
                    <p>Shown with a horizontal line above or below the note head</p>
                    <div class="row stave">
                      <div class="col s12 vex-tabdiv" width=250 scale=1.3>
                        stave
                        notes C/4 $.a-/bottom.$
                        notes C/5 $.a-/top.$
                      </div>
                    </div>
                    <p>Can be written as <span class="dynamicFont"><b><i>ten.</i></b></span></p>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
