<% include ./include/head %>
<% include ./include/musicnotation %>
<body>
  <% include ./include/nav %>
  <main class="light-blue lighten-4">
    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Scales</h2>
        <p>Understanding how to build a major scale</p>
      </div>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div class="col s12">
          <div class="col s10">
            <h3>The Major Scale</h3>
            <p>Scales are made up of <b>semitones</b> and <b>tones</b></p>
            <ul class="bullet">
              <li>A semitone is a half step, e.g. from C to C# is a semitone</li>
              <li>A tone is a whole step and made up of two semitones, e.g. from C to D is a tone</li>
            </ul>
            <p>A <b>major scale</b> can be written as: </p>
            <p> <b>Tone</b>, <b>Tone</b>, <b>Semitone</b>, <b>Tone</b>, <b>Tone</b>, <b>Tone</b>, <b>Semitone</b></p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = treble
                notes :4 C-D-E-F-G-A-B/4 C/5
                text :4, C, D, E, F, G, A, B, C
              </div>
            </div>
            <p>Here we see the C major scale made up of tones and semitones</p>
          </div>
        </div>

      </div>
    </div>

    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Basic Major Scales</h2>
        <p>Understanding basic major scales including sharps and flats (Click each heading for a description)</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#c">C Major</a></li>
        <li class="tab"><a href="#g">G Major</a></li>
        <li class="tab"><a href="#d">D Major</a></li>
        <li class="tab"><a href="#f">F Major</a></li>
      </ul>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div id="c" class="col s12">
          <div class="col s12">
            <h3>C Major</h3>
            <p>The C major scale has no sharps or flats</p>
            <p>The scale starts on C</p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                clef = treble
                notes :4 C-D-E-F-G-A-B/4 C/5
                text :4, C, D, E, F, G, A, B, C
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
                options space = 20
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = bass
                notes :4 C-D-E-F-G-A-B/3 C/4
                text :4, C, D, E, F, G, A, B, C
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
              </div>
            </div>
          </div>
        </div>

        <div id="g" class="col s12">
          <div class="col s12">
            <h3>G Major</h3>
            <p>The G major scale has 1 sharp: F#</p>
            <p>The scale starts on G</p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                key = G
                clef = treble
                notes :4 G-A-B/4 C-D-E-F-G/5
                text :4, G, A, B, C, D, E, F#, G
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
                options space = 20
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                key = G
                clef = bass
                notes :4 G-A-B/2 C-D-E-F-G/3
                text :4, G, A, B, C, D, E, F#, G
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
              </div>
            </div>
          </div>
        </div>

        <div id="d" class="col s12">
          <div class="col s12">
            <h3>D Major</h3>
            <p>The D major scale has 2 sharps: F# and C#</p>
            <p> The scale starts on D</p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                key = D
                clef = treble
                notes :4 D-E-F-G-A-B/4 C-D/5
                text :4, D, E, F#, G, A, B, C#, D
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
                options space = 20
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                key = D
                clef = bass
                notes :4 D-E-F-G-A-B/3 C-D/4
                text :4, D, E, F#, G, A, B, C#, D
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
              </div>
            </div>
          </div>
        </div>

        <div id="f" class="col s12">
          <div class="col s12">
            <h3>F Major</h3>
            <p>The F major scale has 1 flat: B♭</p>
            <p> The scale starts on F</p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                key = F
                clef = treble
                notes :4 F-G-A-B/4 C-D-E-F/5
                text :4, F, G, A, B♭, C, D, E, F
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
                options space = 20
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space = 10
                stave
                key = F
                clef = bass
                notes :4 F-G-A-B/2 C-D-E-F/3
                text :4, F, G, A, B♭, C, D, E, F
                text ++, .11, :4, 1, 2, 3, 4, 5, 6, 7, 8
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Tonic Triads</h2>
        <p>Understanding tonic triads of the major scale.</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#cTri">C Major</a></li>
        <li class="tab"><a href="#gTri">G Major</a></li>
        <li class="tab"><a href="#dTri">D Major</a></li>
        <li class="tab"><a href="#fTri">F Major</a></li>
      </ul>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div class="col s12">
          <p>A <b>major tonic triad</b> consist of three notes: <b>The Tonic (1)</b>, <b>The Third (3)</b>, <b>The Fifth (5)</b></p>
        </div>

        <div id="cTri" class="col s12">
          <div class="col s12">
            <h3>C Major</h3>
            <p>The C major tonic triad is made up of: <b>C (Tonic)</b>, <b>E (Third)</b>, <b>G (Fifth)</b></p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space = 10
                stave
                clef = treble
                notes :1 (C/4.E/4.G/4)
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space=10
                stave
                clef = bass
                notes :1 (C/3.E/3.G/3)
              </div>
            </div>
          </div>
        </div>

        <div id="gTri" class="col s12">
          <div class="col s12">
            <h3>G Major</h3>
            <p>The G major tonic triad is made up of: <b>G (Tonic)</b>, <b>B (Third)</b>, <b>D (Fifth)</b></p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space = 10
                stave
                key = G
                clef = treble
                notes :1 (G/4.B/4.D/5)
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space=10
                stave
                key = G
                clef = bass
                notes :1 (G/2.B/2.D/3)
              </div>
            </div>
          </div>
        </div>

        <div id="dTri" class="col s12">
          <div class="col s12">
            <h3>D Major</h3>
            <p>The D major tonic triad is made up of: <b>D (Tonic)</b>, <b>F# (Third)</b>, <b>A (Fifth)</b></p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space = 10
                stave
                key = D
                clef = treble
                notes :1 (D/4.F/4.A/4)
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space=10
                stave
                key = D
                clef = bass
                notes :1 (D/3.F/3.A/3)
              </div>
            </div>
          </div>
        </div>

        <div id="fTri" class="col s12">
          <div class="col s12">
            <h3>F Major</h3>
            <p>The F major tonic triad is made up of: <b>F (Tonic)</b>, <b>A (Third)</b>, <b>C (Fifth)</b></p>
            <h4>Treble Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space = 10
                stave
                key = F
                clef = treble
                notes :1 (F/4.A/4.C/5)
              </div>
            </div>
            <h4>Bass Clef: </h4>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=200 scale=1.5>
                options space=10
                stave
                key = F
                clef = bass
                notes :1 (F/2.A/2.C/3)
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
