<% include ./include/head %>
<body>
  <% include ./include/nav %>
  <main>

    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Grade 2</h2>
        <p>Learn more advanced music theory</p>
        <p>Complete Grade 1 before attempting Grade 2</p>
      </div>
    </div>

    <div class="row">
      <a href="grade2time">
        <div class="parallax-container hoverable light-blue lighten-2">
          <div class="section">
            <div class="row container flow-text black-text">
              <h2 class="header">Time Signatures</h2>
              <p>More simple time signatures.</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row">
      <a href="grade2stave">
        <div class="parallax-container hoverable light-blue lighten-2">
          <div class="section">
            <div class="row container flow-text black-text">
              <h2 class="header">The Stave</h2>
              <p>Learn extensions of the treble and bass clef.</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row">
      <a href="grade2scales">
        <div class="parallax-container hoverable light-blue lighten-2">
          <div class="section">
            <div class="row container flow-text black-text">
              <h2 class="header">Scales</h2>
              <p>Learn how minor scales are made.</p>
            </div>
          </div>
        </div>
      </a>
    </div>

    <a href="grade2terms">
      <div class="parallax-container hoverable light-blue lighten-2">
        <div class="section">
          <div class="row container flow-text black-text">
            <h2 class="header">Terms</h2>
            <p>More advanced music theory terms.</p>
          </div>
        </div>
      </div>
    </a>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
