<% include ./include/head %>
<% include ./include/musicnotation %>
<body>
  <% include ./include/nav %>
  <main class="light-blue lighten-4">
    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">The Stave</h2>
        <p>Understanding the stave (Click each heading for a description)</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#treble">Treble Clef</a></li>
        <li class="tab"><a href="#bass">Bass Clef</a></li>
      </ul>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div id="treble" class="col s12">
          <div class="col s10">
            <h3>Treble Clef (G)</h3>
            <p>The Treble Clef is sometimes also known as the G clef. This is because the symbol wraps around the G line.</p>
            <p>The lines are the notes <b>E</b>, <b>G</b>, <b>B</b>, <b>D</b>, <b>F</b></p>
            <p>This can be remembered as <b>E</b>very <b>G</b>ood <b>B</b>oy <b>D</b>eserves <b>F</b>ood</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = treble
                notes :4 E-G-B/4 D-F/5
                text :4, E, G, B, D, F
              </div>
            </div>
            <p>The spaces inbetween the lines are the notes <b>F</b>, <b>A</b>, <b>C</b>, <b>E</b></p>
            <p>This can be remembered simply as <b>FACE</b> since everyone has one</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = treble
                notes :4 F-A/4 C-E/5
                text :4, F, A, C, E
              </div>
            </div>
          </div>

          <div class="col s10">
            <h3>Middle C</h3>
            <p>The first note seen on the stave below is known as middle C.</p>
          </div>
          <div class="col s12 vex-tabdiv" width=100 scale=2>
            stave
            clef = treble
            notes :4 C/4
          </div>
        </div>

        <div id="bass" class="col s12">
          <div class="col s10">
            <h3>Bass Clef (F)</h3>
            <p>The Bass Clef is sometimes also known as the F clef. This is because the symbol wraps around the F line.</p>
            <p>The lines are the notes <b>G</b>, <b>B</b>, <b>D</b>, <b>F</b>, <b>A</b></p>
            <p>This can be remembered as <b>G</b>ood <b>B</b>ikes <b>D</b>on't <b>F</b>all <b>A</b>part</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = bass
                notes :4 G-B/2 D-F-A/3
                text :4, G, B, D, F, A
              </div>
            </div>
            <p>The spaces inbetween the lines are the notes <b>A</b>, <b>C</b>, <b>E</b>, <b>G</b></p>
            <p>This can be remembered as <b>A</b>ll <b>C</b>ows <b>E</b>at <b>G</b>rass</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = bass
                notes :4 A/2 C-E-G/3
                text :4, A, C, E, G
              </div>
            </div>
          </div>
          <div class="col s10">
            <h3>Middle C</h3>
            <p>The last note seen on the stave below is known as middle C.</p>
          </div>
          <div class="col s12 vex-tabdiv" width=100 scale=2>
            stave
            clef = bass
            notes :4 C/4
          </div>
        </div>
      </div>

    </div>

    <div class="section white z-depth-2">
      <div class="container flow-text">
        <h2 class="header">Accidentals</h2>
        <p>Understanding how accidentals are used to raise or lower notes</p>
      </div>
    </div>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width z-depth-1">
        <li class="tab"><a class="active" href="#sharps">Sharps</a></li>
        <li class="tab"><a href="#flats">Flats</a></li>
        <li class="tab"><a href="#naturals">Naturals</a></li>
      </ul>
    </div>

    <div class="row container flow-text">

      <div class="col offset-s2">

        <div id="sharps" class="col s12">
          <div class="col s10">
            <h3>Sharps</h3>
            <p>A <b>sharp</b> is an accidental used to <b>raise</b> a note by one semitone</p>
            <p>A sharp is shown as a '<b>#</b>' to the left of the note being raised</p>
            <p>The example below shows a normal A note followed by an A#</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = treble
                notes :4 A-A#/4
                text :4, A, A#
              </div>
            </div>
          </div>
        </div>

        <div id="flats" class="col s12">
          <div class="col s10">
            <h3>Flats</h3>
            <p>A <b>flat</b> is an accidental used to <b>lower</b> a note by one semitone</p>
            <p>A flat is shown as s '<b><i>b</i></b>' to the left of the note being lowered</p>
            <p>The example below shows a normal A note followed by an Ab</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                clef = treble
                notes :4 A-A@/4
                text :4, A, Ab
              </div>
            </div>
          </div>
        </div>

        <div id="naturals" class="col s12">
          <div class="col s9">
            <h3>Naturals</h3>
            <p>A <b>natural</b> is an accidental used to remove any exisitng accidentals</p>
            <p>This means if a key signature has sharps or flats and a natural is placed on a sharp or flat note it removes them</p>
            <p>A natural is shown as s '<b>♮</b>' to the left of the note</p>
            <p>The example below shows an F# note followed by an F♮</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                key = G
                clef = treble
                notes :4 F-Fn/4
                text :4, F#, F
              </div>
            </div>
            <p>The example below shows an Bb note followed by an B♮</p>
            <div class="stave">
              <div class="col s12 vex-tabdiv" width=400 scale=1.3>
                options space=10
                stave
                key = F
                clef = treble
                notes :4 B-Bn/4
                text :4, Bb, B
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
