<% include ./include/head %>
<body>
  <% include ./include/nav %>
  <main>
    <div class="section white">
      <div class="row container flow-text">
        <h2 class="header">Welcome <%= username %></h2>
        <p>What would you like to do?</p>
      </div>
    </div>
    <a href="learn">
      <div class="parallax-container hoverable">
        <div class="parallax"><img src="static/images/violin.jpg" alt="Wooden Blocks"></div>
        <div class="section">
          <div class="row container flow-text white-text">
            <h2 class="header">Learn</h2>
            <p>Music theory taught in small sections</p>
          </div>
        </div>
      </div>
    </a>

    <a href="">
      <div class="parallax-container hoverable">
        <div class="parallax"><img src="static/images/guitar.jpg" alt="Wooden Blocks"></div>
        <div class="section">
          <div class="row container flow-text black-text">
            <h2 class="header">Games</h2>
            <p>Test your skills at some musical games.</p>
          </div>
        </div>
      </div>
    </a>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
