<% include ./include/head %>
<body>
  <% include ./include/nav %>
  <main>

    <a href="grade1topics">
      <div class="parallax-container hoverable light-blue darken-3">
        <div class="section">
          <div class="row container flow-text black-text">
            <h2 class="header">Grade 1</h2>
            <p>Start with getting to know the basics of music theory.</p>
          </div>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="parallax-container hoverable light-blue">
        <div class="section">
          <div class="row container flow-text black-text">
            <h2 class="header">Grade 2</h2>
            <p>View more advanced music theory lessons.</p>
          </div>
        </div>
      </div>
    </a>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
