<% include ./include/head %>
<body>
  <% include ./include/nav %>
  <main>
    <div class="row">
      <div class="col s2 offset-s4">
        <div class="card small">
          <div class="card-content black-text">
            <span class="card-title">Grade 1</span>
            <p> Start with getting to know the basics of music theory.</p>
            </div>
            <div class="card-action">
              <a href="grade1topics">View Grade 1 Topics</a>
            </div>
          </div>
        </div>
        <div class="col s2">
        <div class="card small">
          <div class="card-content black-text">
            <span class="card-title">Grade 2</span>
            <p>Once you understand Grade 1, try out Grade 2</p>
          </div>
          <div class="card-action">
            <a href="#">View Grade 2 Topics</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
