<% include ./include/head %>
<link type="text/css" rel="stylesheet" href="static/css/quiz.css" media="screen,projection">
<body>
  <% include ./include/nav %>
  <main>
    <div class="section white">
      <div class="row container flow-text">
        <h2 class="header">Quiz</h2>
        <h3>How to play</h3>
        <p>First you must chooose which topic you'd like to be quizzed on.</p> <p>After selecting a topic you will be given 10 multiple choice questions that all need to be answered to complete the quiz.</p>
        <p>Once you have an answer for all questions, click the submit button at the bottom of the page to recieve feedback and your score.</p>
        <h3>Topics</h3>
        <p>Select which topic you would like to be quizzed on?</p>
      </div>
    </div>
    <div class="row container">
      <form method="POST" action="quizGame">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <select id="quizSelection" name="quizSelection" required>
              <option value="" disabled selected>Choose a topic</option>
              <optgroup label="Grade 1">
                <option value='{"grade":1, "category":"noteValues", "quizTitle":"Note Values"}'>Note Values</option>
                <option value='{"grade":1, "category":"stave", "quizTitle":"Stave"}'>Stave</option>
                <option value='{"grade":1, "category":"timeSignatures","quizTitle":"Time Signatures"}'>Time Signatures</option>
                <option value='{"grade":1, "category":"scales", "quizTitle":"Scales"}'>Scales</option>
                <option value='{"grade":1, "category":"terms", "quizTitle":"Terms"}}'>Terms</option>
              </optgroup>
              <optgroup label="Grade 2">
                <option value='{"grade":2, "category":"timeSignatures", "quizTitle":"Stave"}}'>Time Signatures</option>
                <option value='{"grade":2, "category":"stave"}'>Stave</option>
                <option value='{"grade":2, "category":"scales", "quizTitle":"Scales"}}'>Scales</option>
                <option value='{"grade":2, "category":"terms", "quizTitle":"Terms"}}'>Terms</option>
              </optgroup>
            </select>
            <label>Topics</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn orange darken-2 waves-effect waves-light col s6 offset-s3">Submit</button>
          </div>
        </div>
      </form>
    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
