html, body{
  height: 100%;
}

html{
  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: middle;
}

#togglePass{
  cursor:pointer;
}

#togglePass:hover{
  color: #fb8c00;
}

.custom-icon-size{
  font-size: 1.4em;
}

.curve{
  border-radius: 0.6em;
}

.center.margin{
  margin-top: 3em;
}

.s12.margin{
  margin-top: 2em;
}

.btn:hover{
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
