<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <a href="grade1topics"><h5 class="white-text">Grade 1</h5></a>
        <ul>
          <li><a class="grey-text text-lighten-3" href="grade1notevalues">Note Values</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1time">Time Signatures</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1stave">The Stave</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1scales">Scales</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1terms">Terms</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <a href="grade2topics"><h5 class="white-text">Grade 2</h5></a>
        <ul>
          <li><a class="grey-text text-lighten-3" href="grade2time">Time Signatures</a></li>
          <li><a class="grey-text text-lighten-3" href="grade2stave">The Stave</a></li>
          <li><a class="grey-text text-lighten-3" href="grade2scales">Scales</a></li>
          <li><a class="grey-text text-lighten-3" href="grade2terms">Terms</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <a href="games"><h5 class="white-text">Games</h5></a>
        <ul>
          <li><a class="grey-text text-lighten-3" href="quizGame">Quiz</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <a href="stats"><h5 class="white-text">Statistics</h5></a>
        <ul>
          <li><a class="grey-text text-lighten-3" href="stats">Stats</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Solace.
    </div>
  </div>
</footer>
</body>
</html>
