<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Grade 1</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="grade1notevalues">Note Values</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1time">Time Signatures</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1stave">The Stave</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1scales">Scales</a></li>
          <li><a class="grey-text text-lighten-3" href="grade1terms">Terms</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Grade 2</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#">Note Values</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Time Signatures</a></li>
          <li><a class="grey-text text-lighten-3" href="#">The Stave</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Scales</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Games</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="quizGame">Quiz</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright Text
    </div>
  </div>
</footer>
</body>
</html>
