<div class="navbar-fixed">
  <nav class="blue darken-1">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Solace</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="learn">Learn</a></li>
        <li><a href="games">Games</a></li>
        <li><a href="register">Sign Up</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="learn">Learn</a></li>
  <li><a href="games">Games</a></li>
  <li><a href="register">Sign Up</a></li>
</ul>
