<script type="text/javascript" src="static/js/vextab-div.js"></script>
<div class="row container flow-text">

  <div class="col offset-s2">

    <div id="semibreve" class="col s12">
      <div class="col s10">
        <h3>Semibreve: Whole Note</h3>
        <p>A Semibreve (also known as a whole note) lasts for 4 beats. It is drawn using a hollow oval shape on the stave.</p>
        <p>Below shows an example of a semibreve with the beats printed above the bar.</p>
      </div>
      <div class="row">
        <div class="col s12 vex-tabdiv" width=500 scale=1.3>
          stave time = 4/4
          notes :1 (F/4)
          text :4, .2, 1, 2, 3, 4
        </div>
      </div>
    </div>

    <div id="minim" class="col s12">
      <div class="col s9">
        <h3>Minim: Half Note</h3>
        <p>A Minim (also known as a half note) lasts for 2 beats. It is drawn using a hollow oval shape with a stem on the stave.</p>
        <p>Below shows an example of a minim with the beats printed above the bar.</p>
      </div>
      <div class="row">
        <div class="col s12 vex-tabdiv" width=500 scale=1.3>
          stave time = 4/4
          notes :2 F-F/4
          text :4, .2, 1, 2, 3, 4
        </div>
      </div>
    </div>

    <div id="crotchet" class="col s12">
      <div class="col s10">
        <h3>Crotchet: Quater Note</h3>
        <p>A Crotchect (also known as a quater note) lasts for 1 beat. It is drawn using a filled oval shape with a stem on the stave.</p>
        <p>Below shows an example of a crotchet with the beats printed above the bar.</p>
      </div>
      <div class="row">
        <div class="col s12 vex-tabdiv" width=500 scale=1.3>
          stave time = 4/4
          notes :4 F-F-F-F/4
          text :4, .2, 1, 2, 3, 4
        </div>
      </div>
    </div>

    <div id="quaver" class="col s12">
      <div class="col s9">
        <h3>Quaver: Eighth Note</h3>
        <p>A Quaver (also known as an eighth note) lasts for 1/2 of a beat. It is drawn using a filled oval shape with a curved stem on the stave.</p>
        <p>Below shows an example of a quaver with the beats printed above the bar.</p>
      </div>
      <div class="row">
        <div class="col s12 vex-tabdiv" width=500 scale=1.3>
          stave time = 4/4
          notes :8 F-F-F-F-F-F-F-F/4
          text :8, .2, 1, &, 2, &, 3, &, 4, &
        </div>
      </div>
    </div>

    <div id="semiquaver" class="col s12">
      <div class="col s10">
        <h3>Semiquaver: Sixteenth Note</h3>
        <p> A Semiquaver (also known as a sixteenth note) lasts for 1/4 of a beat. It is drawn using a filled oval shape with a double curved stem on the stave.</p>
        <p>Below shows an example of a semiquaver with the beats printed above the bar.</p>
      </div>
      <div class="row">
        <div class="col s12 vex-tabdiv" width=500 scale=1.3>
          stave time = 4/4
          notes :16 F-F-F-F-F-F-F-F-F-F-F-F-F-F-F-F/4
          text :16, .2 , 1, e, &, a, 2, e, &, a, 3, e, &, a, 4, e, &, a
        </div>
      </div>
    </div>

  </div>
</div>
